<% provide(:title, "About") %>
<h1 id="logo_h2">About this platform...</h1>
<h2>
  <%= full_title() %> is a private twitter-like social network, it is written as
  <%= link_to 'open source', @github_repo_url, target: :_blank %>
  and served with much love
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
</h2>
