<div class="center jumbotron">
  <h1>Welcome to<br/>
    <%= render 'layouts/header_logo' %>
  </h1>
  <h2>Join the gang!</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
