<div class="center jumbotron">
  <h1>Welcome to<br/>
    <span id="logo_h2">
    <span style="color:orange">Go</span><span style="color:#cc0066">od</span>
    <span style="color:blue"> Vibes</span>
    </span>
  </h1>
  <h2>Join the gang!</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
