<% provide(:title, "Friends") %>
<h1><%= yield(:title) %></h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= profile_pic_for user, size: 80 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
